.main {
  /* width: calc(70% - 20px); */
  width: calc(100% - 20px);
  /* right: 0; */
  margin: 10px;
  height: inherit;
}
  
.side {
  height: inherit;
  width: calc(30% - 20px);
  left: 0;
  margin: 10px;
}